*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    row-gap: 1rem;
}

table{
    border: 1px solid #A060A8;
}
input{
    text-align: center;
    font-size: 20px;
}
input:hover{
    background-color: #A060A8;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
button{
    background-color: black;
    color: white;
    width: 250px;
    height: 50px;
    border: 2px solid black;
    border-radius: 5px;
}
#botones{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 2px;
}
tr:nth-child(3) td,tr:nth-child(6) td{
    border-bottom: 3px solid #A060A8;
}
tr td:nth-child(3),tr td:nth-child(6){
    border-right: 3px solid #A060A8;
}
p{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 9px black;
}
